body {
  background-color: #000000;

  color: white;
  min-height: 100vh;
  /* overflow: hidden; */
}

h1 {
  font-family: geist;
}

@font-face {
  font-family: geist;
  src: url(Geist-Regular.ttf);
}

@font-face {
  font-family: geistBold;
  src: url(/../public/Geist-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: geistMono;
  src: url(/../public/GeistMono-Regular.ttf);
}

@font-face {
  font-family: geistMonoBold;
  src: url(/../public/GeistMono-Bold.ttf);
  font-weight: bold;
}